.login-form
    max-width 500px
    margin 30px auto

.login-header
    background rgb(232, 232, 232)
    padding 20px
    text-align center
    font-size 25px
    color #9fa6b5

.login-body
    padding 20px

.login-footer
    padding 0 20px 20px
    font-size 14px
    text-align center
